<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.vanjel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9vanYX7kgGCS4A3cffxn2-YnwDNf6zEU" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseRegistration" />
        <activity android:name=".Registration" />
        <activity android:name=".DoctorCalendar" />
        <activity android:name=".Profile" />
        <activity android:name=".PatientInfo" />
        <activity android:name=".FilteredDoctors" />
        <activity android:name=".DoctorAvailabilityActivity" />
        <activity android:name=".SearchDoctor" />
        <activity android:name=".PatientCalendarActivity" />
        <activity android:name=".PatientAppointmentActivity" />
        <activity android:name=".DoctorInformation" />
        <activity android:name=".NearbyDoctor"></activity>
    </application>

</manifest>