<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.vanjel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9vanYX7kgGCS4A3cffxn2-YnwDNf6zEU" />

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".registration.ChooseRegistration" />
        <activity android:name=".registration.Registration" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".patientInfo.PatientInfo" />
        <activity android:name=".searchDoctor.FilteredDoctors"/>
        <activity android:name=".doctorAvailability.DoctorAvailabilityActivity" />
        <activity android:name=".nearbyDoctor.NearbyDoctor" />
        <activity android:name=".patientAppointment.PatientPersonalAppointments" />
        <activity android:name=".searchDoctor.SearchDoctor" />
        <activity android:name=".patientAppointment.PatientCalendarActivity" />
        <activity android:name=".patientAppointment.PatientAppointmentActivity" />
        <activity android:name=".doctorInformation.DoctorInformation" />

        <service android:name=".appointment.AppointmentNotificationBackgroundService" />

        <activity android:name=".doctorAppointment.DoctorComingAppointments" />
        <activity android:name=".patientInfo.DoctorPatientInfo" />
        <activity android:name=".doctorAppointment.DoctorAppointmentsList" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.ChatListActivity" />
        <activity android:name=".treatedPatient.TreatedPatientsActivity" />
        <activity android:name=".favoriteList.PatientFavoriteListActivity" />
        <activity android:name=".forwardRequest.ForwardRequest" />
        <activity android:name=".mainMenu.MainMenu" />
    </application>

</manifest>